#!/usr/bin/make -f

udeb_libnl=libnl-3-200-udeb
udeb_libnl_genl=libnl-genl-3-200-udeb

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_makeshlibs:
	dh_makeshlibs -plibnl-3-200  --add-udeb=$(udeb_libnl)
	dh_makeshlibs -plibnl-genl-3-200  --add-udeb=$(udeb_libnl_genl)
	dh_makeshlibs -a --remaining-packages

override_dh_gencontrol:
	dh_gencontrol -plibnl-3-200-udeb  -- -Vmisc:Depends=
	dh_gencontrol -plibnl-genl-3-200-udeb  -- -Vmisc:Depends=
	dh_gencontrol -a --remaining-packages
